* {
    box-sizing: border-box;
    border: 1px solid black;
}

.header {
    height: 60px;
    display: flex;
}
.headerLeft, .headerMiddle, .headerRight {
    height: 100%;
    min-width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}